<p>
  Auth!
  <code>{{ (user | async)?.uid }}</code>
  <button (click)="login()" *ngIf="showLoginButton">Log in with Google</button>
  <button (click)="loginAnonymously()" *ngIf="showLoginButton">Log in anonymously</button>
  <button (click)="logout()" *ngIf="showLogoutButton">Log out</button>
</p>

<h1>{{storyName}}</h1>
<label>Story: <input [ngModel]="storyName" (ngModelChange)="saveStoryName($event)"></label>

<button (click)="onClick()">Click Me</button>
<h2>There are {{votes.length}} votes</h2>

<router-outlet></router-outlet>
